<mat-toolbar color="primary">

  <div class="header-container">
    <div routerLink="" class="logo">
      <mat-icon aria-hidden="false">checkroom</mat-icon>
      <span>GardeLog</span>
    </div>
    <div *ngIf="auth.user | async as user; else showLogin">
      <button mat-raised-button routerLink="clothes" routerLinkActive="activebutton">
        Clothes
        <mat-icon>checkroom</mat-icon>
      </button>
      <button mat-raised-button routerLink="profile" routerLinkActive="activebutton">
        Profile
        <mat-icon>person</mat-icon>
      </button>
      <button mat-raised-button (click)="logout()" color="warn">
        Logout
        <mat-icon>logout</mat-icon>
      </button>

    </div>

    <ng-template #showLogin>
      <div>
        <button mat-raised-button routerLink="login" routerLinkActive="activebutton" color="primary">
          Login
          <mat-icon>login</mat-icon>
        </button>
        <button mat-raised-button routerLink="register" routerLinkActive="activebutton">
          Register
          <mat-icon>how_to_reg</mat-icon>
        </button>
      </div>
    </ng-template>

  </div>
  <!-- <ngx-auth-firebaseui-avatar></ngx-auth-firebaseui-avatar> -->
</mat-toolbar>