.container-wrapper {
    display: flex;
    justify-content: space-around;
}

.container {
    width: 400px;
    margin: 0 25px 25px 0;
}

.tips-img {
    float: left;
    max-width: 320px;
    margin-right: 30px;
}

mat-tab-body p {
    margin-top: 30px;
}

.caution {
    background: yellow;
    text-align: center;
    font-size: 19px;
    padding: 10px;
    border: 2px dashed red;
}