.container-wrapper {
    display: flex;
    justify-content: space-around;
}

.container {
    width: 400px;
    margin: 0 25px 25px 0;
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 500ms;
}

.container {
    padding: 5px;
    border-radius: 5px;
}

#clean {
    background: #C7F5D6;
}

#dirty {
    background: #ffa3b1;
}

#washing {
    background: #fce2aa;
}
